/* #Fonts
================================================== */
@font-face {
  font-family: 'spacer';
  font-weight: 400;
  font-style: normal;
  src: url('../font/spacer-regular.ttf');
}

@font-face {
  font-family: 'spacer';
  font-weight: 700;
  font-style: normal;
  src: url('../font/spacer-bold.ttf');
}

@font-face {
  font-family: 'spacer';
  font-weight: 900;
  font-style: normal;
  src: url('../font/spacer-black.ttf');
}

/* #Global
================================================== */
body {
  font-family: 'spacer';
  background-color: #eee;
  padding: 5.33vw;
}

.text-gold {
  color: #A09569;
}

.logo img {
  margin: 0 auto 5.33vw auto;
  width: 30vw;
}

.box {
  background-color: white;
  border-radius: 1.33vw;
  box-shadow: 0 12px 24px rgba(93, 93, 93, 0.2);
  padding: 9.33vw 6vw 8vw 6vw;
}

.btn {
  height: 12vw;
  border-radius: 1.33vw;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  border: 1px solid transparent;
}

.btn.btn-primary {
  color: white;
  background-color: #A09569;
}

/* #Homepage
================================================== */
.form .heading {
  text-align: center;
  margin-bottom: 6vw;
}

.form .heading h1 {
  margin-bottom: 1.33vw;
}

.form .heading h3 {
  margin-top: 6vw;
}

.form .input-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 12vw;
  border-radius: 1.33vw;
  border: 1px solid #9D9D9D;
  margin-bottom: 4vw;
  padding: 0 2.66vw;
}

.form .input-box input {
  flex-grow: 1;
  border: none;
  background-color: transparent;
  color: black;
}

.form .input-box input::placeholder {
  color: black;
}

.form .input-box img {
  width: 5vw;
}

.form .accordion {
  margin-top: 12vw;
}

.form .accordion > h2,
.form .accordion > p {
  text-align: center;
}

.form .accordion > p {
  margin-bottom: 3.5vw;
}

.form .collapsible {
  box-shadow: 0 12px 24px rgba(93, 93, 93, 0.2);
  border-radius: 1.33vw;
  padding: 3.33vw;
  background-color: white;
}

.form .collapsible:not(:last-child) {
  margin-bottom: 3.33vw;
}

.form .collapse-toggler {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form .collapse-toggler img {
  width: 2vw;
  transition: all .3s ease;
}

.form .show .collapse-toggler img {
  transform: rotate(180deg);
}

.form .collapse > div {
  padding-top: 2vw;
}

/* #Popup
================================================== */
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  background-color: white;
  opacity: 0;
  visibility: hidden;
  transform: translateX(100%);
  transition: all .4s ease;
  display: flex;
  flex-direction: column;
}

.popup.show {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
}

.popup-close {
  height: 14.93vw;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #9D9D9D;
}

.popup-close a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  line-height: 1;
}

.popup-close a img {
  width: 4vw;
  margin-left: 2vw;
}

.popup-body {
  flex-grow: 1;
  padding-top: 25.33vw;
  text-align: center;
}

.popup-body .swiper {
  min-width: 0;
  max-width: 100%;
  min-height: 0;
  max-height: 100%;
  margin-top: 13.33vw;
}

.popup-body .swiper-slide img {
  width: 55%;
  margin: 0 auto 6vw auto;
}

.popup-body .prev img,
.popup-body .next img {
  width: 10vw;
}

.popup-body .prev {
  position: absolute;
  top: 22vw;
  right: 12.5vw;
  z-index: 10;
}

.popup-body .next {
  position: absolute;
  top: 22vw;
  left: 12.5vw;
  z-index: 10;
}

/* #Result
================================================== */
.result h1 {
  text-align: center;
  line-height: 1.2;
  margin-bottom: 5.33vw;
}

.result .product-img {
  text-align: center;
  margin-bottom: 4.66vw;
}

.result .product-img img {
  width: 41.86vw;
  margin: 0 auto 6vw auto;
}

.result .barcode {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8.66vw;
}

.result .barcode-box {
  margin: 0 auto;
  text-align: center;
  height: 12vw;
  background-color: #F5F5F5;
  border-radius: 1.33vw;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #A09569;
  padding: 0 2vw;
}

.result h2 {
  text-align: center;
  margin-bottom: 4vw;
}

.result .icons {
  margin-bottom: 6.66vw;
}

.result .icons ul {
  display: flex;
  justify-content: center;
  text-align: center;
  line-height: 1;
}

.result .icons ul li:not(:last-child) {
  margin-left: 13.33vw;
}

.result .icons img {
  width: 12vw;
  margin-bottom: 1.33vw;
}